<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Учёба 22-23\Курсова робота БД осінь 2022\RealtorOrganization\Realtor\RealtorOrganization.mdf;Integrated Security=True" />
 </connectionStrings>
</configuration>